@charset "UTF-8";
    
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

.bg{
    background-color: #4a2bad;
}

.bg header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bg header img{
    width: 75px;
    transition: 0.3s all;
    display: flex;
} 
.bg header img:hover{
    border: 0px solid #2a1b73ce;
    background-color: #2a1b73ce;
    border-radius: 8px;  
    padding: -10px;
}

.bg header h1{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s all;
}

.bg header h1:hover{
    border: 1px solid #2a1b73ce;
    background-color: #2a1b73ce;
    border-radius: 8px;  
    padding: 3px;
}

.bg header nav ul{
    display:flex;
    gap: 10px;
    align-items: center;
}

.bg header nav ul li a{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    transition: 0.3s all;
}

.bg header nav ul li a:hover{
    border: 1px solid #2a1b73a9;
    background-color: #2a1b73a9;
    border-radius: 8px;  
    padding: 5px;
}


#box {
    border: 1px solid #2a1b73a9;
    background-color: #2a1b73a9;
    border-radius: 8px;  
    padding: 5px;
    transition: 0.3s all;
 }
 #box:hover{
    border: 1px solid #ae92f0ce;
    background-color: #ae92f0ce;
    border-radius: 8px;  
    padding: 5px;
 }

 .navbar_pesquisar{
    color: white;
 }
 .navbar_pesquisar input[type=text]{
    padding: 8px;
    font-size: 15px;
    display: inline-flex;
    border: 1px solid #9c8af777;
    border-radius: 8px;
    float: left;
    color: white;
    width: 80%;
    background: #9c8af777;
    transition: 0.3s all;
}

.navbar_pesquisar input:hover{
border: 1px solid #abbaff94;
background-color: #abbaff94;
}

 .navbar_pesquisar button{
    float: left;
    width: 80%;
    padding: 1px;
    background: #9c8af777;
    color: white;
    font-size: 15px;
    border: 1px solid #9c8af777;
    border-left: none; 
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s all;
 }

.navbar_pesquisar button:hover {
    background: #abbaff94;
    border: 1px solid #abbaff94;
  }

  .navbar_pesquisar::after {
    content: "";
    clear: both;
    display: flex;
  }

.navbar_icons{
    width: 10px;
    height: 10px;
    transition: 0.3s all;
}

.navbar_icons:hover{
    border: 1px solid #00588bce;
    background-color: #00588bce;;
    border-radius: 50%; 
}

/*

 form.example input[type=text] {
    padding: 8px;
    font-size: 15px;
    border: 1px solid #61acd8b7;;
    border-radius: 8px;
    float: left;
    color: white;
    width: 80%;
    background: #61acd8b7;
    transition: 0.3s all;
  }

  form.example input:hover{
    border: 1px solid #abe0ff94;
    background-color: #abe0ff94;
    }

  form.example button {
    float: left;
    width: 80%;
    padding: 1px;
    background: #61acd8b7;
    color: white;
    font-size: 15px;
    border: 1px solid #61acd8b7;
    border-left: none; 
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s all;
  }
  
  form.example button:hover {
    background: #abe0ff94;
  }

  form.example::after {
    content: "";
    clear: both;
    display: flex;
  }

.bg #navbar_img{
    width: 45px;
    height: 45px;
    transition: 0.3s all;
}

.bg #navbar_img:hover{
    border: 1px solid #00588bce;
    background-color: #00588bce;;
    border-radius: 50%; 
}
*/
.qua main ul li a {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    text-align: right;
    font-weight: bold;
    color: rgba(8, 5, 5, 0.795);
}

.qua main ul img{
    width: 20px;
}


.areas main h5 h4{
    text-decoration: none;
    display: flex;
    list-style: none;
    font-weight: bold;
    
    justify-content: flex-start;
    color: rgba(8, 5, 5, 0.116);
}
.areas main ul li a {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    color: rgba(8, 5, 5, 0.795);
    transition: 0.3s all;
}

.areas main ul li a:hover{
    color: rgba(8, 5, 5, 0.932);
}

.areas main ul img{
    width: 15px;
    height: 15px;
}

.main .principal{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.main .principal .titulo{
    max-width: 70%;
    color: rgba(8, 5, 5, 0.623);
    font-weight: bold;
    margin: 0 auto;
}
.main .principal .titulo img{
    width: 20px;
    align-items: center;
}
.main .principal .titulo h3{
    text-align: center;
}

.quadro {
    
  width: 210px;
  height: 130px;
  border-radius: 4px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
}

.quadro h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quadro button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ccc;
  color: white;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.quadro button:hover {
  background-color: #006400;
}

.main .principal .titulo .quadro1{
    display: inline;
}
.main .principal .titulo .quadro1 .educere{
    border: 1px solid #35008bce;
    border-radius: 3px; 
    background-color: #35008bce;
    width: 210px;
  height: 130px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.main .principal .titulo .quadro1 .educere p{
    list-style: none;
    text-decoration: none;
    color: white;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side {
    padding-left: 130px;
    display: grid;
}

.side .areas .sideside{
    font-size: 12px; 
    align-items: center;
    padding-left: 50px;
}

.side .qua .quadros .quaqua{
    display: inline-flex;
    align-items: center;
}

.side .quaqua li:hover{
    background-color: #ccc;
    border: 1px solid #ccc;
    width: 100px;
    border-radius: 3px; 
    }

.side .qua .quadros .molmol{
    display: flex;
    align-items: center;
}

.side .molmol li a:hover{
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px; 
    width: 100px;
    }

.side .qua .quadros .iniini{
    display: flex;
    align-items: center;
}

.side .iniini li a:hover{
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px; 
    width: 100px;
    }

.areas .ar h4:hover{
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px; 
    width: 85px;
}
.areas .ar h5:hover{
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px; 
    width: 100px;
}
.areas .sideside li a:hover{
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px; 
    width: 100px;
}

.main .principal .titulo .visu{
    border: 1px solid #35008bce;
    border-radius: 3px; 
    background-color: #35008bce;
    width: 210px;
  height: 130px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.main .principal .titulo .visu p{
    list-style: none;
    text-decoration: none;
    color: white;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main #conteudo-geral{
    display: flex;
    padding-bottom: 1500px;
    padding-left: 500px;
}